@import './_variable.scss';

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292d2f;
    padding: 3% 0;
    font-family: $fontFooter;
    margin-top: 10%;
    > img {
        height: 50px;
        width: 50px;
    }
    .info-footer{
        color:  white;
        margin-right: 5vw;
        span{
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 10px 0;
            transition: 0.2s ease-in-out;
           
            svg{
                background-color: #32393c;
                padding: 10px;
                border-radius: 50%;
                margin-right: 15px;
            }
            &:hover{
                color: #9a9898;
                svg{
                    background-color: #222628;
                    transition: 0.2s ease-in-out;
                }
                transition: 0.2s ease-in-out;
            }
        }
        &:nth-child(3){
            font-weight: 400;
        }
    }
    .about-footer{
        max-width: 250px;
        color: white;
        > h3{
            margin-bottom: 10px;
        }
         >p{
            color: #94989d;
        }
        .social-footer{
            margin-top: 20px;
            svg{
                cursor: pointer;
                background-color: #32393c;
                padding: 10px;
                border-radius: 5px;
                margin-right: 7px;
                font-size: 1.1em;
                transition: 0.3s ease-in-out;
                &:hover{
                    transition: 0.3s ease-in-out;
                    background-color: #222628;
                }
            }
        }
    }
}

@media (max-width: 520px) {
    .footer{
        display: flex;
        flex-direction: column;
    }
}